# Introducción a los objetos Pandas

En un nivel muy básico, los objetos de Pandas se pueden considerar como versiones mejoradas de matrices estructuradas de NumPy en las que las filas y columnas se identifican con etiquetas en lugar de simples índices enteros. Como veremos en el transcurso de este capítulo, Pandas proporciona una gran cantidad de herramientas, métodos y funcionalidades útiles además de las estructuras de datos básicas, pero casi todo lo que sigue requerirá una comprensión de cuáles son estas estructuras. Por lo tanto, antes de continuar, presentemos estas tres estructuras de datos fundamentales de Pandas: ``Series``, ``DataFrame`` y ``Index``.

Comenzaremos nuestras sesiones de código con las importaciones estándar de NumPy y Pandas:

In [1]:
import numpy as np
import pandas as pd

## El objeto de la serie Pandas

Pandas ``Series`` es una matriz unidimensional de datos indexados. Se puede crear a partir de una lista o matriz de la siguiente manera:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Como vemos en la salida, ``Series`` envuelve tanto una secuencia de valores como una secuencia de índices, a los que podemos acceder con los atributos ``values`` and ``index``. Los ``values`` son simplemente una matriz NumPy familiar:

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

El ``index`` es un objeto similar a una matriz de tipo ``pd.Index``, que discutiremos con más detalle en un momento.

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

Al igual que con una matriz NumPy, el índice asociado puede acceder a los datos a través de la conocida notación de corchetes de Python:

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

Sin embargo, como veremos, pandas ``Series`` es mucho más general y flexible que la matriz NumPy unidimensional que emula.

### ``Series`` como array NumPy generalizada

Por lo que hemos visto hasta ahora, puede parecer que ``Series``. El objeto es básicamente intercambiable con una matriz NumPy unidimensional. La diferencia esencial es la presencia del índice: mientras que Numpy Array tiene uno implícitamente definido que se usa para acceder a los valores, Pandas ``Series`` tiene un definido explícitamente asociado con los valores. 

Esta definición de índice explícito da a las ``Series`` capacidades adicionales del objeto. Por ejemplo, el índice no necesita ser un número entero, pero puede consistir en valores de cualquier tipo deseado. Por ejemplo, si lo deseamos, podemos usar cadenas como índice:

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Y el acceso al elemento funciona como se esperaba:

In [9]:
data['b']

0.5

Incluso podemos usar índices no contiguos o no secuenciales:

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
data[7]

1.0

### Series como diccionario especializado

De esta manera, puedes pensar en un Pandas ``Series`` un poco como una especialización de un diccionario Python. Un diccionario es una estructura que asigna claves arbitrarias a un conjunto de valores arbitrarios, y un ``Series`` es una estructura que asigna claves escritas a un conjunto de valores escritos. Esta escritura es importante: así como el código compilado específico del tipo detrás de una matriz NumPy lo hace más eficiente que una lista de Python para ciertas operaciones, la información de tipo de un Pandas ``Series`` lo hace mucho más eficiente que los diccionarios de Python para ciertas operaciones. 

El ``Series``-como-analogía de diccionario se puede hacer aún más clara mediante la construcción de un objeto ``Series`` directamente desde un diccionario de Python:

In [16]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Por defecto, un ``Series`` se creará donde el índice se extrae de las claves ordenadas. Desde aquí, se puede realizar el acceso a elementos de estilo típico de diccionario:

In [17]:
population['California']

38332521

Sin embargo, a diferencia de un diccionario, ``Series`` también admite operaciones de estilo de matriz como el corte:

In [26]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Construcción de objetos Series

Ya hemos visto algunas formas de construir un Panda ``Series`` desde cero; todos ellos son alguna versión de lo siguiente: 

```python
>>> pd.Series(data, index=index)
```

donde ``index`` es un argumento opcional, y ``data`` puede ser una de muchas entidades. 

Por ejemplo, ``data`` puede ser una lista o una matriz NumPy, en cuyo caso ``index`` por defecto a una secuencia entera:

In [20]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` puede ser un escalar, que se repite para llenar el índice especificado:

In [21]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` puede ser un diccionario, en el que ``index`` por defecto a las claves del diccionario ordenadas:

In [23]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

En cada caso, el índice se puede establecer explícitamente si se prefiere un resultado diferente:

In [24]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Nótese que en este caso, el ``Series`` se rellena solo con las claves identificadas explícitamente.

## El objeto DataFrame de Pandas 

La siguiente estructura fundamental en Pandas es el ``DataFrame``. Como el objeto ``Series`` discutido en la sección anterior, el ``DataFrame`` puede considerarse como una generalización de una matriz NumPy o como una especialización de un diccionario de Python. Ahora vamos a echar un vistazo a cada una de estas perspectivas.

### DataFrame como una matriz NumPy generalizada

si ``Series`` es un análogo de una matriz unidimensional con índices flexibles, un ``DataFrame`` es un análogo de una matriz bidimensional con índices de fila flexibles y nombres de columna flexibles. Así como podría pensar en un arreglo bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, puede pensar en un ``DataFrame`` como una secuencia de objetos ``Series`` alineados, osea comparten el mismo índice. 

Para demostrar esto, construyamos primero una ``Serie`` listando el área de cada uno de los cinco estados discutidos en la sección anterior:

In [25]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Ahora que tenemos esto junto con el ``population`` Serie de antes, podemos usar un diccionario para construir un solo objeto bidimensional que contenga esta información:

In [27]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Como el objeto ``Series``, el ``DataFrame`` tiene un atributo ``index`` que da acceso a las etiquetas de índice:

In [28]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Además, el ``DataFrame`` tiene un atributo ``columns``, que es un objeto ``Index`` que contiene las etiquetas de las columnas:

In [29]:
states.columns

Index(['population', 'area'], dtype='object')

Por lo tanto, la ``DataFrame`` se puede considerar como una generalización de una matriz NumPy bidimensional, donde tanto las filas como las columnas tienen un índice generalizado para acceder a los datos.

### DataFrame como diccionario especializado 

Del mismo modo, también podemos pensar en un ``DataFrame`` como una especialización de un diccionario. Donde un diccionario asigna una clave a un valor, un ``DataFrame`` asigna un nombre de columna a una ``Series`` de datos de columna. Por ejemplo, pedir la ``'area'`` atributo devuelve el objeto ``Series`` que contiene las áreas que vimos antes:

In [30]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Observe el punto potencial de confusión aquí: en una matriz NumPy bidimensional, ``data[0]`` devolverá la primera fila . Para ``DataFrame``, ``data['col0']`` devolverá la primera columna . Debido a esto, probablemente sea mejor pensar en ``DataFrame`` como diccionarios generalizados en lugar de matrices generalizadas, aunque ambas formas de ver la situación pueden ser útiles. Exploraremos medios más flexibles de indexación ``DataFrame`` en Indización y selección de datos .

### Construcción de objetos DataFrame 

Pandas ``DataFrame`` se puede construir de varias maneras. Aquí daremos varios ejemplos.

#### Desde un único objeto Serie

Un ``DataFrame`` es una colección de objetos ``Series``, y una sola columna ``DataFrame`` se puede construir a partir de un solo ``Series``:

In [31]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### De una lista de dictados 

Cualquier lista de diccionarios se puede convertir en un ``DataFrame``. Usaremos una lista simple de comprensión para crear algunos datos:

In [32]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Incluso si faltan algunas claves en el diccionario, Pandas las completará con ``NaN``(es decir, "no es un número") valores:

In [33]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### De un diccionario de objetos Series

Como vimos antes, un ``DataFrame`` se puede construir a partir de un diccionario de objetos ``Series`` también:

In [34]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### A partir de un arreglo bidimensional NumPy 

Dada una matriz bidimensional de datos, podemos crear un ``DataFrame`` con cualquier columna especificada y nombres de índice. Si se omite, se utilizará un índice entero para cada:

In [35]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.890057  0.465233
b  0.238205  0.926035
c  0.073388  0.241847

#### Desde un arreglo estructurado NumPy

panda ``DataFrame`` funciona como una matriz estructurada y se puede crear directamente a partir de una:

In [37]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [38]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## El Objeto Índice Pandas

Hemos visto aquí que tanto los objetos ``Series`` y ``DataFrame`` contienen un índice que le permite hacer referencia y modificar datos. Esta el objeto ``Index`` es una estructura interesante en sí misma, y ​​puede considerarse como una matriz inmutable o como un conjunto ordenado (técnicamente, un conjunto múltiple, como los objetos ``Index`` pueden contener valores repetidos). Esas vistas tienen algunas consecuencias interesantes en las operaciones disponibles en objetos ``Index``. Como un ejemplo simple, construyamos un ``Index`` de una lista de enteros:

In [39]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Índice como matriz inmutable

El ``Index`` en muchos sentidos funciona como una matriz. Por ejemplo, podemos usar la notación de indexación estándar de Python para recuperar valores o segmentos:

In [40]:
ind[1]

3

In [41]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

los objetos ``Index`` también tienen muchos de los atributos familiares de las matrices NumPy:

In [42]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

Una diferencia entre objetos ``Index`` y matrices NumPy es que los índices son inmutables, es decir, no se pueden modificar por los medios normales:

In [43]:
ind[1] = 0

TypeError: Index does not support mutable operations

Esta inmutabilidad hace que sea más seguro compartir índices entre múltiples ``DataFrame`` y arreglos, sin la posibilidad de que se produzcan efectos secundarios por la modificación inadvertida del índice.

### Índice como conjunto ordenado

Los objetos de Pandas están diseñados para facilitar operaciones como las uniones entre conjuntos de datos, que dependen de muchos aspectos de la aritmética de conjuntos. El objeto ``Index`` sigue muchas de las convenciones utilizadas por Python ``set`` estructura de datos, de modo que las uniones, intersecciones, diferencias y otras combinaciones se puedan calcular de una manera familiar:

In [44]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [45]:
indA & indB  # intersection

/tmp/ipykernel_10923/76773435.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [46]:
indA | indB  # union

/tmp/ipykernel_10923/2015131817.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [47]:
indA ^ indB  # symmetric difference

/tmp/ipykernel_10923/1234474844.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

También se puede acceder a estas operaciones a través de métodos de objeto, por ejemplo ``indA.intersection(indB)``.